/* SSO Login Screen Styles -

Author: Cristian Horta
Date: June 24, 2013

Revised Date: June 22, 2017

*/
nav.navdrawer-container.layout-navbar {
	display: none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

button.btn-nav {
    display: none !important;
}

/*end rests*/

h1.signing  {
	font-size: 25px;
	margin: 15px 0 25px;
}

.s-type {
	color:#666;
	font-weight:400;
}

.sso-screen {
	background-color: #eeeeee;
	float: left;
	min-height: 50px;
	padding: 10px;
	position: relative;
	width: 100%;
}

.sso-right-col {
	width: 30%;
	float: right;
}


.sso-pic {
	float: right;
	padding: 0 0 10px;
	position: relative;
	max-width: 100%;
}


.sso-links {
	float: right;
	max-width: 100%;
}

.sso-links h3 {
	color: #666;
}

.sso-links ul {
	border-top: 1px solid #ccc;
	margin-top: 10px;
	padding-top: 10px;
}

.sso-links li {
	color: #666;
	margin-bottom: .5em;
}

.small-log {
	font-size: 11px;

}

.log-options {
	display: block;
	float: right;
	font-size: 11px;
	margin: 5px;
}

.log-info {
	display: block;
	overflow: hidden;
	padding: 5px;
	width: 284px;
}

.log-type {
	display: block;
	overflow: hidden;
	padding: 5px;
	width: auto;
}

.login-option-select {
	margin-top: 10px;
	padding-right: 30px;
}


.login-other {
	border-left: 1px solid #ccc;
	float: right;
	margin-top: 10px;
	min-height: 235px;
	padding-left: 30px;

}


.log-info p, .login-other p {
	/*color: #666;*/
}


.bold {
	font-weight: bold;
}

input[type="text"] {
	border: 1px solid #999;
	border-radius: 0;
	height: 27px;
	padding: .25em  .25em .25em 26px;
	-webkit-appearance: none;
	border-radius: 0;
	width: 250px;
}

.log-info input[type="password"] {
	border: 1px solid #999;
	border-radius: 0;
	height: 27px;
	padding: .25em  .25em .25em 26px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	width: 250px;
}


.log-info input:focus {
  border: 1px solid transparent;
}

.log-info input:focus {
	color: inherit;
	border: 1px solid #007a9e;
	outline: none;
}

.f-error {
	border: 1px solid #F00 !important;
	color: #F00;
}

select {
	color: #333;
	margin-bottom: 15px;
	width: 80%;
}

.sso-button {
	cursor: pointer;
	clear: both;
	float: right;
	margin: 25px 0 0  0;
}

.b-container {
	overflow: hidden;
}




.user {
	background-image: url(../_images/user.png);
	background-repeat:no-repeat;
	background-position: 0 4px;
}

.user:focus {
	background-image: url(../_images/user_active.png);
}


.pass {
	height: 25px;
	background-image: url(../_images/key.png);
	background-repeat:no-repeat;
	background-position: 0 4px;
}

.pass:focus {
	background-image: url(../_images/key_active.png);
}

.error {
	margin-top: 25px;
}

.wait-screen h2{
	margin: 20px 0 20px 0;
}



.tip {
	clear: both;
	position: relative;
	float: none;
	padding-top: 24px;
	font-size: .8em;
}

.sso-info {
	background: url(../_images/info.png) no-repeat;
	display: block;
	float: left;
	height: 16px;
	margin: 0 5px 0 0;
	width: 16px;
}

.wait-screen {
	overflow: hidden;
}

.loading {
	clear: none !important;
	float: left;
	height: 95px !important;
	margin: 0 10px 0;
	width: 44px;
}

.clearfix {
	clear: both !important;
}

/* --------------------

 MEDIA QUERIES

-------------------- */



@media screen and (max-width: 1200px) {

	.login-other {
		padding-left: 15px;
	}


}

@media screen and (max-width: 936px) {

	.make-default {
		display: none;
	}

}

@media screen and (max-width: 767px) {

	.login-other {
	    border-left: none;
	    float:  none;
	    margin-top: 10px;
	    min-height: auto;
	    padding-left: 15px;
	}


}

@media screen and (max-width: 767px) {


	.sso-screen {
		float: none;
	}

	.sso-links {
		margin-top: 10px;
		width: auto !important;
		float: none;
	}


}

@media screen and (max-width: 768px) {


	.search-button {
		display: none !important;
	}


}

@media screen and (max-width: 749px) {

	.login-option-select {
		float: none;
		margin: auto;
	}

	.sso-button{
		margin: 15px 0;
		float: left !important
	}



	.tip {
		padding-top: 10px;
	}

}

@media screen and (max-width: 650px) {

	.sso-button {
	    float: left !important;
	    margin: 0 0 15px 0;
	}

}

@media screen and (max-width: 580px) {


	h1.signing  {
		margin: 10px auto 20px;
		width: 93%;
	}

	.s-type {
		color:#666;
		font-weight:400;
	}

	select{
		width: 90%;
	}

	.login-option-select, .log-info {
		width: 100%;
	}







}

@media screen and (max-width: 490px) {

	h1.signing {
		display: none;
	}

}

@media screen and (max-width: 400px) {

	.s-type {
		clear: both;
		display: block;
	}

	.log-info input[type="text"] {
		width: 88%;
	}

	.log-info input[type="password"] {
		width: 88%;
	}

	.sso-button {
		font-size: 18px;
		text-align: center;
		width: 99%;
	}

	input {
		border-width: 2px !important;
	}
}
